---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - v1
  resources:
  - configmap
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - v1.edp.epam.com
  resources:
  - clusterkeycloakrealms
  - clusterkeycloaks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v1.edp.epam.com
  resources:
  - clusterkeycloakrealms/finalizers
  - clusterkeycloaks/finalizers
  verbs:
  - update
- apiGroups:
  - v1.edp.epam.com
  resources:
  - clusterkeycloakrealms/status
  - clusterkeycloaks/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - v1.edp.epam.com
  resources:
  - keycloakrealms
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: manager-role
  namespace: placeholder
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v1
  resources:
  - configmap
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - v1.edp.epam.com
  resources:
  - keycloakauthflows
  - keycloakclients
  - keycloakclientscopes
  - keycloakorganizations
  - keycloakrealmcomponents
  - keycloakrealmgroups
  - keycloakrealmidentityproviders
  - keycloakrealmrolebatches
  - keycloakrealmroles
  - keycloakrealms
  - keycloakrealmusers
  - keycloaks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v1.edp.epam.com
  resources:
  - keycloakauthflows/finalizers
  - keycloakclients/finalizers
  - keycloakclientscopes/finalizers
  - keycloakorganizations/finalizers
  - keycloakrealmcomponents/finalizers
  - keycloakrealmgroups/finalizers
  - keycloakrealmidentityproviders/finalizers
  - keycloakrealmrolebatches/finalizers
  - keycloakrealmroles/finalizers
  - keycloakrealms/finalizers
  - keycloakrealmusers/finalizers
  - keycloaks/finalizers
  verbs:
  - update
- apiGroups:
  - v1.edp.epam.com
  resources:
  - keycloakauthflows/status
  - keycloakclients/status
  - keycloakclientscopes/status
  - keycloakorganizations/status
  - keycloakrealmcomponents/status
  - keycloakrealmgroups/status
  - keycloakrealmidentityproviders/status
  - keycloakrealmrolebatches/status
  - keycloakrealmroles/status
  - keycloakrealms/status
  - keycloakrealmusers/status
  - keycloaks/status
  verbs:
  - get
  - patch
  - update
