# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/v1.edp.epam.com_keycloaks.yaml
- bases/v1.edp.epam.com_keycloakauthflows.yaml
- bases/v1.edp.epam.com_keycloakclients.yaml
- bases/v1.edp.epam.com_keycloakclientscopes.yaml
- bases/v1.edp.epam.com_keycloakrealmcomponents.yaml
- bases/v1.edp.epam.com_keycloakrealms.yaml
- bases/v1.edp.epam.com_keycloakrealmgroups.yaml
- bases/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
- bases/v1.edp.epam.com_keycloakrealmroles.yaml
- bases/v1.edp.epam.com_keycloakrealmrolebatches.yaml
- bases/v1.edp.epam.com_keycloakrealmusers.yaml
- bases/v1.edp.epam.com_clusterkeycloaks.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_keycloaks.yaml
#- patches/webhook_in_keycloakauthflows.yaml
#- patches/webhook_in_keycloakclients.yaml
#- patches/webhook_in_keycloakclientscopes.yaml
#- patches/webhook_in_keycloakrealmcomponents.yaml
#- patches/webhook_in_keycloakrealms.yaml
#- patches/webhook_in_keycloakrealmgroups.yaml
#- patches/webhook_in_keycloakrealmidentityproviders.yaml
#- patches/webhook_in_keycloakrealmroles.yaml
#- patches/webhook_in_keycloakrealmrolebatches.yaml
#- patches/webhook_in_keycloakrealmusers.yaml
#- patches/webhook_in_clusterkeycloaks.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_keycloaks.yaml
#- patches/cainjection_in_keycloakauthflows.yaml
#- patches/cainjection_in_keycloakclients.yaml
#- patches/cainjection_in_keycloakclientscopes.yaml
#- patches/cainjection_in_keycloakrealmcomponents.yaml
#- patches/cainjection_in_keycloakrealms.yaml
#- patches/cainjection_in_keycloakrealmgroups.yaml
#- patches/cainjection_in_keycloakrealmidentityproviders.yaml
#- patches/cainjection_in_keycloakrealmroles.yaml
#- patches/cainjection_in_keycloakrealmrolebatches.yaml
#- patches/cainjection_in_keycloakrealmusers.yaml
#- patches/cainjection_in_clusterkeycloaks.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
