apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "keycloak-operator.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: {{ .Values.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: {{ .Values.name }}
  template:
    metadata:
      labels:
        {{- include "keycloak-operator.selectorLabels" . | nindent 8 }}
        name: {{ .Values.name }}
        control-plane: controller-manager
        {{- if hasKey .Values.podLabels "name" }}
        {{ fail "The 'name' key is not allowed in podLabels" }}
        {{- end }}
        {{- range $key, $value := .Values.podLabels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
    spec:
      serviceAccountName: edp-{{ .Values.name }}
      {{- if .Values.securityContext }}
      securityContext: {{ toYaml .Values.securityContext | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.name }}
          # Replace this with the built image name
          image: {{ if .Values.image.registry }}{{ .Values.image.registry }}/{{ end }}{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: "{{ .Values.imagePullPolicy }}"
          command:
            - /manager
          args:
            - --metrics-bind-address=:8443
            - --leader-elect
            - --health-probe-bind-address=:8081
            {{- if .Values.enableWebhooks }}
            - --webhook-cert-path=/tmp/k8s-webhook-server/serving-certs
            {{- end }}
          {{- if .Values.containerSecurityContext }}
          securityContext: {{ toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- end }}
          env:
            - name: WATCH_NAMESPACE
              {{- if .Values.clusterReconciliationEnabled }}
              value: ""
              {{- else }}
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
              {{- end }}
            - name: OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: ENABLE_OWNER_REF
              value: {{ .Values.enableOwnerRef | quote }}
            - name: ENABLE_WEBHOOKS
              value: {{ .Values.enableWebhooks | quote }}
        {{- if or .Values.extraVolumeMounts .Values.enableWebhooks }}
          volumeMounts:
          {{- if .Values.enableWebhooks }}
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: webhook-certs
              readOnly: true
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
            {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
          {{- end }}
        {{- end }}
        {{- if .Values.enableWebhooks }}
          ports:
          - containerPort: 9443
            name: webhook-server
            protocol: TCP
        {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- if or .Values.extraVolumes .Values.enableWebhooks }}
      volumes:
      {{- if .Values.enableWebhooks }}
        - name: webhook-certs
          secret:
            secretName: webhook-server-cert
      {{- end }}
      {{- if .Values.extraVolumes }}
        {{- toYaml .Values.extraVolumes | nindent 8 }}
      {{- end }}
    {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
